body {
    background-color: #e9e7e7;
    color: #495057;
    padding-top: 60px; /* Adjust for fixed navbar */
  }
  /* Container Style */
  .container {
    margin-top: 30px;
  }

  /* Card Styles */
  .card {
    margin-bottom: 20px;
  }
  .card {
    margin-bottom: 20px;
  }
  .btn {
    margin-right: 10px;
  }
  