body {
    background-color: #e9e7e7;
    color: #495057;
    padding-top: 60px; /* Adjust for fixed navbar */
  }
  /* Container Style */
  .container {
    margin-top: 20px;
  }

  .fs-1{
    font-size: 3em;
    font-weight: bold;
  }

  /* Card Styles */
  .card {
    margin-bottom: 20px;
  }
  
  .btn {
    margin-right: 10px;
  }
  