<!-- server/view/payfastForm.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PayFast Payment</title>
</head>
<body onload="document.forms['payfastForm'].submit()">
    <form name="PayFastPayNowForm" action="https://payment.payfast.io/eng/process" method="post">
        <input required type="hidden" name="cmd" value="_paynow">
        <input required type="hidden" name="receiver" pattern="[0-9]" value="18836904">
        <input required type="hidden" name="amount" value="5.00">
        <input required type="hidden" name="item_name" maxlength="255" value="Pay Now">
        <input type="hidden" name="item_description" maxlength="255" value="Pay now button">
        <table>
        <tr>
        <td colspan=2 align=center>
        <input type="image" src="https://my.payfast.io/images/buttons/PayNow/Primary-Large-PayNow.png" alt="Pay Now" title="Pay Now with Payfast">
        </td>
        </tr>
        </table>
        </form>
</body>
</html>
